body{
	  background-repeat: no-repeat;
    background-size: cover;
    background-color: #afbe80;
}

.footer{
    min-height: 80px;
    background-color: #afbe80;
    padding:    30px;
    color: #444;
}


#banner{
  height: 550px;
}

@media (max-width: 1199px){
	#banner{
		height: 300px;
	}
	.carousel-caption{
		padding-top: 80px !important;
		right: 0% !important;
	}
	h1{
		font-size: 25px !important;
	}
	h2{
		font-size: 30px !important;
	}
}